# Python
__pycache__/
*.py[cod]
*.egg-info/
.dist-info/
venv/
env/
mytrainer/

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Docker
Dockerfile
docker-compose.yml

# Others
.env
